<a href="https://colab.research.google.com/github/Pogba666/DeepLearning/blob/main/HPE_Lecture_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def sum(n1,n2):
    return n1 + n2

class Fibo:
    def __init__(self):
        self.a = 1
        self.b = 2

    def printme(self):
        print(str(self.a) + " *** "+ str(self.b))

In [ ]:
s1 = Fibo()
s1.printme()

1 *** 2

In [ ]:
print(sum(1,2))

3

In [ ]:
def sum():
    return False
sum(2,3)

TypeError: ignored

In [ ]:
class Fibo:
    def __iter__(self):
        self.a = -1
        self.b = 1
        self.c = True
        return self

    def __next__(self):
        self.c = self.a + self.b
        self.a = self.b
        self.b = self.c
        return self.c

In [ ]:
series = Fibo()
prop = iter(series)
next(prop)

0

In [ ]:
xyz = []
for _ in range(10):
    xyz.append(next(prop))

print(xyz)

[89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765]

In [ ]:
import pandas as pd
s = pd.Series(xyz)

In [ ]:
print(s)

0      89
1     144
2     233
3     377
4     610
5     987
6    1597
7    2584
8    4181
9    6765
dtype: int64

In [ ]:
df = {
    'fibo':s,
    'random':range(10)
}
dFrame = pd.DataFrame(df)

In [ ]:
print(dFrame)

   fibo  random
0    89       0
1   144       1
2   233       2
3   377       3
4   610       4
5   987       5
6  1597       6
7  2584       7
8  4181       8
9  6765       9

In [ ]:
df = pd.read_csv("https://tomatoisnotapotato.blob.core.windows.net/data/right.csv")

In [ ]:
df.head()

         id diagnosis  ...  symmetry_worst  fractal_dimension_worst
0    842302         M  ...          0.4601                  0.11890
1    842517         M  ...          0.2750                  0.08902
2  84300903         M  ...          0.3613                  0.08758
3  84348301         M  ...          0.6638                  0.17300
4  84358402         M  ...          0.2364                  0.07678

[5 rows x 32 columns]

In [ ]:
df.shape

(569, 32)

In [ ]:
df.isna()

        id  diagnosis  ...  symmetry_worst  fractal_dimension_worst
0    False      False  ...           False                    False
1    False      False  ...           False                    False
2    False      False  ...           False                    False
3    False      False  ...           False                    False
4    False      False  ...           False                    False
..     ...        ...  ...             ...                      ...
564  False      False  ...           False                    False
565  False      False  ...           False                    False
566  False      False  ...           False                    False
567  False      False  ...           False                    False
568  False      False  ...           False                    False

[569 rows x 32 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 32 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       569 non-null    int64
 1   diagnosis                569 non-null    object
 2   radius_mean              569 non-null    float64
 3   texture_mean             569 non-null    float64
 4   perimeter_mean           569 non-null    float64
 5   area_mean                569 non-null    float64
 6   smoothness_mean          569 non-null    float64
 7   compactness_mean         569 non-null    float64
 8   concavity_mean           569 non-null    float64
 9   concave points_mean      569 non-null    float64
 10  symmetry_mean            569 non-null    float64
 11  fractal_dimension_mean   569 non-null    float64
 12  radius_se                569 non-null    float64
 13  texture_se               569 non-null    float64
 14  perimeter_se             569 non-null    float64
 15  area_se                  569 non-null    float64
 16  smoothness_se            569 non-null    float64
 17  compactness_se           569 non-null    float64
 18  concavity_se             569 non-null    float64
 19  concave points_se        569 non-null    float64
 20  symmetry_se              569 non-null    float64
 21  fractal_dimension_se     569 non-null    float64
 22  radius_worst             569 non-null    float64
 23  texture_worst            569 non-null    float64
 24  perimeter_worst          569 non-null    float64
 25  area_worst               569 non-null    float64
 26  smoothness_worst         569 non-null    float64
 27  compactness_worst        569 non-null    float64
 28  concavity_worst          569 non-null    float64
 29  concave points_worst     569 non-null    float64
 30  symmetry_worst           569 non-null    float64
 31  fractal_dimension_worst  569 non-null    float64
dtypes: float64(30), int64(1), object(1)
memory usage: 142.4+ KB

In [ ]:
stats = df.describe().T
mu = stats['mean']
sigma = stats['std']
df_norm = (df - mu) / sigma
df_norm

     area_mean   area_se  area_worst  ...  texture_mean  texture_se  texture_worst
0     0.983510  2.485391    1.999478  ...     -2.071512   -0.564768      -1.358098
1     1.907030  0.741749    1.888827  ...     -0.353322   -0.875473      -0.368879
2     1.557513  1.180298    1.455004  ...      0.455786   -0.779398      -0.023953
3    -0.763792 -0.288125   -0.549538  ...      0.253509   -0.110312       0.133866
4     1.824624  1.189310    1.219651  ...     -1.150804   -0.789549      -1.465481
..         ...       ...         ...  ...           ...         ...            ...
564   2.341795  2.601897    2.013529  ...      0.720838    0.070963       0.117596
565   1.722326  1.290429    1.493644  ...      2.083301    2.258951       2.045599
566   0.577445  0.180539    0.427529  ...      2.043775   -0.257145       1.373645
567   1.733693  1.008615    1.651717  ...      2.334403    0.685485       2.235958
568  -1.346604 -0.465742   -1.074867  ...      1.220718    0.382756       0.763518

[569 rows x 32 columns]

SyntaxError: ignored