<a href="https://colab.research.google.com/github/Pogba666/DeepLearning/blob/main/HPE_Lecture_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
% tensorflow_version 1.x
import tensorflow as tf
import numpy as np
print(tf.__version__)

TensorFlow 1.x selected.
1.15.2

In [2]:
from keras import backend
from keras.layers.core import Dense, Dropout, Flatten, Activation
from keras.layers.convolutional import Conv2D, MaxPooling2D
from keras.layers.normalization import BatchNormalization
from keras.models import Sequential

Using TensorFlow backend.

In [3]:
#N= 5
HP_block1_conv_dim = 32
HP_block2_conv_dim = 64
HP_block3_conv_dim = 128
HP_block4_conv_dim = 256
HP_block5_dense_dim = 1024
HP_small_pattern = (3,3) # UNCOMPRESSED or 1-2 compression IMAGES
HP_large_pattern = (2,2) # 4 times compressed images from previous MP layers!!!
HP_dropout_little =0.25
HP_dropout_big = 0.50
# HP_epochs, batch_size-> are now problems of the developer USING this model.

In [4]:
class RacoonVGG:
  @staticmethod
  def build(height, width, depth, classes):
    # assume that we are on TF, but if something else is detected, switch the dimension
    input_shape = (height, width, depth)
    channel_dim = -1 # last position 
    if backend.image_data_format() == 'channels_first':
      input_shape = (depth, height, width)
      channel_dim = 1

      # BLOCK1
    model.add(Conv2D(HP_block1_conv_dim,HP_small_pattern, padding='same',
                     input_shape=input_shape))
    model.add(Activation('relu'))
    model.add(BatchNormalization(axis=channel_dim))
    model.add(MaxPooling2D(pool_size=HP_small_pattern))
    model.add(Dropout(HP_dropout_little))

    # COMPLEX BLOCK 2
    model.add(Conv2D(HP_block2_conv_dim,HP_small_pattern, padding='same'))
    model.add(Activation('relu'))
    model.add(BatchNormalization(axis=channel_dim))
    model.add(Conv2D(HP_block2_conv_dim,HP_small_pattern, padding='same'))
    model.add(Activation('relu'))
    model.add(BatchNormalization(axis=channel_dim))
    model.add(MaxPooling2D(pool_size=HP_large_pattern))
    model.add(Dropout(HP_dropout_little))
    
    # COMPLEX BLOCK 3
    model.add(Conv2D(HP_block3_conv_dim,HP_small_pattern, padding='same'))
    model.add(Activation('relu'))
    model.add(BatchNormalization(axis=channel_dim))
    model.add(Conv2D(HP_block3_conv_dim,HP_small_pattern, padding='same'))
    model.add(Activation('relu'))
    model.add(BatchNormalization(axis=channel_dim))
    model.add(MaxPooling2D(pool_size=HP_large_pattern))
    model.add(Dropout(HP_dropout_little))

    # COMPLEX BLOCK 4
    model.add(Conv2D(HP_block4_conv_dim,HP_small_pattern, padding='same'))
    model.add(Activation('relu'))
    model.add(BatchNormalization(axis=channel_dim))
    model.add(Conv2D(HP_block4_conv_dim,HP_small_pattern, padding='same'))
    model.add(Activation('relu'))
    model.add(BatchNormalization(axis=channel_dim))
    model.add(MaxPooling2D(pool_size=HP_large_pattern))
    model.add(Dropout(HP_dropout_little))

    # BLOCK 5- Image Classification (OBJECT)
    model.add(Flatten())
    model.add(Dense(HP_block5_dense_dim))
    model.add(Activation('relu'))
    model.add(BatchNormalization())
    model.add(Dropout(HP_dropout_big))
    model.add(Dense(classes))
    model.add(Activation('softmax'))

# NLP

In [5]:
# DICTIONARY method for NLP inputs 
sent = 'Manchester United is the best club in the world. Bruno Fernandes is the best midfielder in the world. Marcus Rashford is the most valuable footballer in the world.'
corpus_lower = sent.lower()
words = []
for word in corpus_lower.split():
  if word != '.':
    word = word.replace('.','')
    words.append(word)

words

['manchester',
 'united',
 'is',
 'the',
 'best',
 'club',
 'in',
 'the',
 'world',
 'bruno',
 'fernandes',
 'is',
 'the',
 'best',
 'midfielder',
 'in',
 'the',
 'world',
 'marcus',
 'rashford',
 'is',
 'the',
 'most',
 'valuable',
 'footballer',
 'in',
 'the',
 'world']

In [6]:
unique_words = set(words)
unique_words

{'best',
 'bruno',
 'club',
 'fernandes',
 'footballer',
 'in',
 'is',
 'manchester',
 'marcus',
 'midfielder',
 'most',
 'rashford',
 'the',
 'united',
 'valuable',
 'world'}

In [7]:
word2int = {}
int2word = {}
vocab_size = len(unique_words)
for i,word in enumerate(unique_words):
  word2int[word] = i
  int2word[i] = word 
print(word2int)
print(int2word)

{'bruno': 0, 'world': 1, 'fernandes': 2, 'valuable': 3, 'footballer': 4, 'manchester': 5, 'in': 6, 'marcus': 7, 'club': 8, 'rashford': 9, 'best': 10, 'midfielder': 11, 'the': 12, 'united': 13, 'most': 14, 'is': 15}
{0: 'bruno', 1: 'world', 2: 'fernandes', 3: 'valuable', 4: 'footballer', 5: 'manchester', 6: 'in', 7: 'marcus', 8: 'club', 9: 'rashford', 10: 'best', 11: 'midfielder', 12: 'the', 13: 'united', 14: 'most', 15: 'is'}

In [8]:
raw_sentences = sent.split('.')
sentences = []
for sentence in raw_sentences:
  sentences.append(sentence.split())

print(sentences)
# Extra sentence due to EOF

[['Manchester', 'United', 'is', 'the', 'best', 'club', 'in', 'the', 'world'], ['Bruno', 'Fernandes', 'is', 'the', 'best', 'midfielder', 'in', 'the', 'world'], ['Marcus', 'Rashford', 'is', 'the', 'most', 'valuable', 'footballer', 'in', 'the', 'world'], []]

In [9]:
sentences = sentences[:-1]
sentences

[['Manchester', 'United', 'is', 'the', 'best', 'club', 'in', 'the', 'world'],
 ['Bruno',
  'Fernandes',
  'is',
  'the',
  'best',
  'midfielder',
  'in',
  'the',
  'world'],
 ['Marcus',
  'Rashford',
  'is',
  'the',
  'most',
  'valuable',
  'footballer',
  'in',
  'the',
  'world']]

In [10]:
# Autocomplete 
# [INPUT]-> 1 output word 

# ML Algo-> y = mx + c
# y => next word
# y = weights * inputs + bias 
# weights = 1-D filters
# inputs-> words provided

# next_word = weights * previous_word + bias 
# ALL POSSIBLE COMBINATIONS of WORD PAIRS 

# filter_pairs -> [prev, next]
window_size = 2
data = []
for sentence in sentences:
  for wordId,word in enumerate(sentence):
    for nxword in sentence[max(wordId - window_size,0):min(wordId + window_size, len(sentence))+1]:
      if nxword != word:
        data.append([word,nxword])

data

[['Manchester', 'United'],
 ['Manchester', 'is'],
 ['United', 'Manchester'],
 ['United', 'is'],
 ['United', 'the'],
 ['is', 'Manchester'],
 ['is', 'United'],
 ['is', 'the'],
 ['is', 'best'],
 ['the', 'United'],
 ['the', 'is'],
 ['the', 'best'],
 ['the', 'club'],
 ['best', 'is'],
 ['best', 'the'],
 ['best', 'club'],
 ['best', 'in'],
 ['club', 'the'],
 ['club', 'best'],
 ['club', 'in'],
 ['club', 'the'],
 ['in', 'best'],
 ['in', 'club'],
 ['in', 'the'],
 ['in', 'world'],
 ['the', 'club'],
 ['the', 'in'],
 ['the', 'world'],
 ['world', 'in'],
 ['world', 'the'],
 ['Bruno', 'Fernandes'],
 ['Bruno', 'is'],
 ['Fernandes', 'Bruno'],
 ['Fernandes', 'is'],
 ['Fernandes', 'the'],
 ['is', 'Bruno'],
 ['is', 'Fernandes'],
 ['is', 'the'],
 ['is', 'best'],
 ['the', 'Fernandes'],
 ['the', 'is'],
 ['the', 'best'],
 ['the', 'midfielder'],
 ['best', 'is'],
 ['best', 'the'],
 ['best', 'midfielder'],
 ['best', 'in'],
 ['midfielder', 'the'],
 ['midfielder', 'best'],
 ['midfielder', 'in'],
 ['midfielder', 'the'],
 ['in', 'best'],
 ['in', 'midfielder'],
 ['in', 'the'],
 ['in', 'world'],
 ['the', 'midfielder'],
 ['the', 'in'],
 ['the', 'world'],
 ['world', 'in'],
 ['world', 'the'],
 ['Marcus', 'Rashford'],
 ['Marcus', 'is'],
 ['Rashford', 'Marcus'],
 ['Rashford', 'is'],
 ['Rashford', 'the'],
 ['is', 'Marcus'],
 ['is', 'Rashford'],
 ['is', 'the'],
 ['is', 'most'],
 ['the', 'Rashford'],
 ['the', 'is'],
 ['the', 'most'],
 ['the', 'valuable'],
 ['most', 'is'],
 ['most', 'the'],
 ['most', 'valuable'],
 ['most', 'footballer'],
 ['valuable', 'the'],
 ['valuable', 'most'],
 ['valuable', 'footballer'],
 ['valuable', 'in'],
 ['footballer', 'most'],
 ['footballer', 'valuable'],
 ['footballer', 'in'],
 ['footballer', 'the'],
 ['in', 'valuable'],
 ['in', 'footballer'],
 ['in', 'the'],
 ['in', 'world'],
 ['the', 'footballer'],
 ['the', 'in'],
 ['the', 'world'],
 ['world', 'in'],
 ['world', 'the']]

In [11]:
window_size = 1
data_single = []
for sentence in sentences:
  for wordId,word in enumerate(sentence):
    for nxword in sentence[max(wordId - window_size,0):min(wordId + window_size, len(sentence))+1]:
      if nxword != word:
        data_single.append([word,nxword])

data_single

[['Manchester', 'United'],
 ['United', 'Manchester'],
 ['United', 'is'],
 ['is', 'United'],
 ['is', 'the'],
 ['the', 'is'],
 ['the', 'best'],
 ['best', 'the'],
 ['best', 'club'],
 ['club', 'best'],
 ['club', 'in'],
 ['in', 'club'],
 ['in', 'the'],
 ['the', 'in'],
 ['the', 'world'],
 ['world', 'the'],
 ['Bruno', 'Fernandes'],
 ['Fernandes', 'Bruno'],
 ['Fernandes', 'is'],
 ['is', 'Fernandes'],
 ['is', 'the'],
 ['the', 'is'],
 ['the', 'best'],
 ['best', 'the'],
 ['best', 'midfielder'],
 ['midfielder', 'best'],
 ['midfielder', 'in'],
 ['in', 'midfielder'],
 ['in', 'the'],
 ['the', 'in'],
 ['the', 'world'],
 ['world', 'the'],
 ['Marcus', 'Rashford'],
 ['Rashford', 'Marcus'],
 ['Rashford', 'is'],
 ['is', 'Rashford'],
 ['is', 'the'],
 ['the', 'is'],
 ['the', 'most'],
 ['most', 'the'],
 ['most', 'valuable'],
 ['valuable', 'most'],
 ['valuable', 'footballer'],
 ['footballer', 'valuable'],
 ['footballer', 'in'],
 ['in', 'footballer'],
 ['in', 'the'],
 ['the', 'in'],
 ['the', 'world'],
 ['world', 'the']]

In [12]:
# ONE HOT ENCODING for my dictionary
# EVERY WORD in my dictionary should be 1 hot encoded!!!

def Encoder(datapointindex, vocab_size):
  temp = np.zeros(vocab_size)
  temp[datapointindex] = 1
  return temp

In [17]:
trainx = []
trainy = []
for worddata in data:
  try:
    trainx.append(Encoder(word2int[worddata[0].lower()], vocab_size))
    trainy.append(Encoder(word2int[worddata[1].lower()], vocab_size))
  except:
    continue

len(trainx)

94

In [18]:
len(trainy)

94